<header class="site-header" role="banner">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <div class="switch">
        <button id="switch" />
      </div>
</header>
<nav>
  <div class="navigation">
    <ul>
      <li><a href="https://chrt.io" title="Homepage">Home</a></li>
      <li><a href="{{ "/" | relative_url }}" title="Blog">Blog</a></li>
      {% comment %}
      <li><a href="/news" title="News">News</a></li>
      <li><a href="/archives" title="Archives">Archives</a></li>
      {% endcomment %}
    </ul>
    {% include tinyletter.html %}
    {% include social.html %}
  </div>
</nav>