<div class="post-meta">
  <time class="dt-published" datetime="{{ meta.date | date_to_xmlschema }}" itemprop="datePublished">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {{ meta.date | date: date_format }}
  </time>
  {%- if meta.author -%}
  — <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{site.data.members[meta.author].name}}</span>
  {%- if ispost and site.data.members[meta.author].twitter and site.data.members[meta.author].twitter != '' -%}&nbsp;(<a href="https://twitter.com/{{ site.data.members[meta.author].twitter }}">@{{ site.data.members[meta.author].twitter }}</a>){%- endif -%}</span>
  {%- endif -%}
</div>