<div class="newsletter">
  <form action="https://tinyletter.com/visualizenews" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/visualizenews', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" class="tinyletter">
    <input type="hidden" value="1" name="embed">
    <label for="tlemail">
      <span>Enter your email address to be notified about our news and releases. We won't spam your mailbox, it's a promise.</span>
      <span>
        <input type="email" name="email" id="tlemail" placeholder="Your Email">
      </span>
      <span>
        <input type="submit" value="Subscribe">
      </span>
    </label>
    <p class="pwrd"><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p>
  </form>
</div>