.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  background: transparent url(https://chrt.io/images/chrt.png) left center no-repeat;
	background-size: auto 60%;

  display: inline-block;
  width: 100px;
  text-indent: -2000px;
  overflow: hidden;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}
