/**
 * Site header
 */
.site-header {
  background: $chrt-background url(http://chrt.io/images/background.jpg) top center no-repeat;
  background-size: cover;
  display: block;
  filter: grayscale(.4);
  height: 40px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  @media screen and (min-width:768px) {
    height: 80px;
  }

  @media screen and (min-width:1024px) {
    background-position: top center;
    bottom: 0;
    height: auto;
    right: auto;
    width: 240px;
  }

  @media screen and (min-width:1280px) {
    background-position: top center;
    bottom: 0;
    height: auto;
    right: auto;
    width: 360px;
  }

  .switch {
    height: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 30px;

    button {
      background: transparent;
      border: 0;
      border-radius: 0;
      color: $background-color;
      display: block;
      font-size: 36px;
      height: 30px;
      line-height: 20px;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 30px;
      -webkit-appearance: none;

      &:before {
        content: '≡';
      }
    }

    @media screen and (min-width:1024px) {
      display: none;
    }
  }

  .nav & {
    .switch {
      button {
        &:before {
          content: '×';
        }
      }
    }
  }
}

nav {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  @media screen and (min-width:1024px) {
    z-index: 11;
  }
}

.navigation {
  background: $background-color;
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 40px;
  transform: translate3d(0, -200%, 0);
  transition: transform .25s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity .25s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: auto;
  z-index: 9;

  @media screen and (min-width:1024px) {
    background: transparent;
    opacity: 1;
    right: auto;
    top: 60px;
    transform: none;
    width: 240px;
    z-index: 11;
  }

  @media screen and (min-width:1280px) {
    width: 360px;
  }

  .nav & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    display: block;
    margin: 60px 40px;
  }

  li {
    display: block;
    font-family: $title-font-family;
    font-weight: $title-font-weight;
    line-height: 40px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .newsletter {
    margin: 20px 40px;

    @media screen and (min-width:1024px) {
      margin: 20px 20px;
    }
  }

  .social {
    margin: 20px 40px;

    @media screen and (min-width:1024px) {
      bottom: 20px;
      left: 0;
      position: fixed;
      margin: 0 10px;
      width: 220px;
    }

    @media screen and (min-width:1280px) {
      width: 320px;
    }

    ul {
      display: flex;
      margin: 0;
    }

    li {
      display: inline-block;
      flex: 0 0 50%;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 0;
      text-align: center;

      @media screen and (min-width:1024px) {
        color: $background-color;
      }
    }
  }
}

.site-title {
  background: transparent url(http://chrt.io/images/chrt.png) center center no-repeat;
  background-position: center center;
  background-size: contain;
  color: transparent;
  display: block;
  height: 22px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-indent: -20000px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 120px;

  @media screen and (min-width:768px) {
    height: 40px;
  }

  @media screen and (min-width:1024px) {
    height: 40px;
    left: 0;
    top: 40px;
    transform: none;
    width: 240px;
  }

  @media screen and (min-width:1280px) {
    width: 360px;
  }
}


/**
 * Page content
 */
.page-content {
  display: block;
  margin: 0 40px;
  max-width: 960px;
  width: auto;

  @media screen and (min-width: 1280px) {
    margin: 0 40px 0 100px;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(3);
  letter-spacing: -1px;
  line-height: .85;
  max-width: 50%;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.5);
    letter-spacing: -1px;
    text-transform: uppercase;
  }

  h3 {
    @include relative-font-size(1.625);
  }

  h4 {
    @include relative-font-size(1.25);
  }
}

.tinyletter {
  font-size: 14px;
  text-align: center;

  @media screen and (min-width:1024px) {
    color:#fff;
  }

  label {
    span {
      display: block;
      margin-bottom: 10px;
    }
  }

  .pwrd {
    margin: 0;
  }

  input[type="email"] {
    background: $grey-color-light;
    border: 1px solid $logo-color;
    border-radius: 3px;
    font-family: $base-font-family;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
  }

  input[type="submit"] {
    background: $logo-color;
    border: 1px solid $logo-color;
    border-radius: 3px;
    color: $background-color;
    font-family: $title-font-family;
    font-weight: $title-font-weight;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
  }
}