---
layout: default
---

<div class="home">  
  {%- if site.posts.size > 0 -%}
   <div class="post-list">
      {%- for post in site.posts -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="{%- if forloop.index == 1 -%}newest-post {%- else -%}post{%- endif -%}">
          <a class="post-link" href="{{ post.url | relative_url }}">
            <h3>{{ post.title | escape }}</h3>
            <div class="post-meta">
              <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ post.date | date: date_format }}
              </time>
              {%- if post.author -%}
              — <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ post.author }}</span></span>
              {%- endif -%}</p>
            </div>
            <div class="post-excerpt">{{ post.excerpt | strip_html  }}</div>
            {%- if forloop.index == 1 && post.seo_and_social_networks.banner_image -%}
                <img src="{{ post.seo_and_social_networks.banner_image }}" alt="{{ post.seo_and_social_networks.description }}" class="banner" />
            {%- endif -%}
          </a>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>