---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="headings">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      {% assign meta = page %}
      {% assign ispost = true %}
      {% include post-meta.html %}
    </div>
    {%- if page.seo_and_social_networks.banner_image and page.seo_and_social_networks.banner_image != null and page.seo_and_social_networks.banner_image != "" -%}
      <img src="{{ page.seo_and_social_networks.banner_image }}" alt="{{ page.seo_and_social_networks.description }}" class="banner" />
    {%- endif -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% comment %}
  <div class="post-comments">
    {% include post-comments.html %}
  </div>
  {% endcomment %}

  <div class="PageNavigation">
    {% if page.previous.url %}
      <div class="previous">
        ← Previous post<br />
        <a href="{{page.previous.url}}">{{page.previous.title}}</a>
      </div>
    {% endif %}
    {% if page.next.url %}
      <div class="next">
        Next post →<br />
        <a href="{{page.next.url}}">{{page.next.title}}</a>
      </div>
    {% endif %}
  </div>
</article>
